<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link rel="stylesheet" href="../../assets/css/student.css">
</head>
<body>
    <div class="menu">
        <h2>SLMS</h2>
        <a href="student-dashboard.html" class="active">
            <span class="menu-icon"></span>Dashboard
        </a><br>
        <a href="student-books.html">
            <span class="menu-icon"></span>Browse Books
        </a><br>
        <a href="student-book-details.html">
            <span class="menu-icon"></span>Book Details
        </a><br>
        <a href="student-borrowing-history.html">
            <span class="menu-icon"></span>My Requests / History
        </a><br>
        <a class="logout" href="../auth/login.html">Logout</a>
    </div>
    <div class="content">
        <div class="top">
            <h1>Book Details</h1>
        </div>
        <div class="book-details-content">
            <div class="book-cover">
                <img src="../../assets/images/atomic-habits.jpg" alt="Atomic Habits Book Cover">
            </div>
            <div class="book-information">
                <div class="book-row">
                    <b>Title</b>
                    <span>Atomic Habits</span>
                </div>
                <div class="book-row">
                    <b>Author</b>
                    <span>James Clear</span>
                </div>
                <div class="book-row">
                    <b>Category</b>
                    <span>Self Help</span>
                </div>
                <div class="book-row">
                    <b>Available Copies</b>
                    <span>3 of 8</span>
                </div>
                <div class="book-row">
                    <b>Status</b>
                    <span class="status">Available</span>
                </div>
            </div>
        </div>
        <div class="description">
            <h3>Description</h3>
            <p>
                Atomic Habits by James Clear is a practical guide to
                building good habits and breaking bad oness.
            </p>
            <p>
                The book offers proven frameworks and simple techniques
                to help you improve 1% every day and achieve remarkable
                results.
            </p>
        </div>
        <button type="button">Borrow Request</button>
    </div>
</body>
</html>
