<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Requests/History</title>
    <link rel="stylesheet" href="../../assets/css/student.css">
</head>
<body>
    <div class="menu">
<h2>SLMS</h2>
        <a href="student-dashboard.html" class="active">
            <span class="menu-icon"></span>Dashboard
        </a><br>
        <a href="student-books.html">
            <span class="menu-icon"></span>Browse Books
        </a><br>
        <a href="student-book-details.html">
            <span class="menu-icon"></span>Book Details
        </a><br>
        <a href="student-borrowing-history.html">
            <span class="menu-icon"></span>My Requests / History
        </a><br>
        <a class="logout" href="../auth/login.html">Logout</a>
    </div>
    <div class="content">
        <div class="top">
            <h1>My Requests / History</h1>
        </div>
        <table border="1">
            <tr>
                <th>Book Title</th>
                <th>Request Date</th>
                <th>Due Date</th>
                <th>Return Date</th>
            </tr>
            <tr>
                <td>Atomic Habits</td>
                <td>10 Aug 2026</td>
                <td>20 Aug 2026</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Clean Code</td>
                <td>09 Aug 2026</td>
                <td>19 Aug 2026</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Rich Dad Poor Dad</td>
                <td>05 Aug 2026</td>
                <td>15 Aug 2026</td>
                <td>-</td>
            </tr>
            <tr>
                <td>The Alchemist</td>
                <td>01 Aug 2026</td>
                <td>11 Aug 2026</td>
                <td>10 Aug 2026</td>
            </tr>
            <tr>
                <td>Thinking, Fast and Slow</td>
                <td>25 Jul 2026</td>
                <td>04 Aug 2026</td>
                <td>04 Aug 2026</td>
            </tr>
            <tr>
                <td>Sapiens</td>
                <td>20 Jul 2026</td>
                <td>30 Jul 2026</td>
                <td>-</td>
            </tr>
        </table>
    </div>
</body>
</html>
