<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Users</title>
    <link rel="stylesheet" href="../../assets/css/admin.css">
</head>
<body>
    <div class="menu">
        <h2>SLMS</h2>
        <a href="admin-dashboard.html">Dashboard</a><br>
        <a href="admin-user.html">Manage Users</a><br>
        <a href="admin-categories.html">Manage Categories</a><br>
        <a href="admin-borrowrecords.html">Borrow Records</a><br>
        <a class="logout" href="../auth/login.html">Logout</a>
    </div>
    <div class="content">
        <div class="top">
            <h1>Manage Users</h1>
            <div class="profile">
                <a href="admin-profile.html">
                    <div class="circle">SA</div>
                    <span>Admin</span>
                </a>
            </div>
        </div>
        <button type="button">+ Add Librarian</button>
        <br><br>
        <input type="text" placeholder="Search user">
        <button type="button">Search</button>
        <br><br>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>Samir</td>
                <td>samir.admin@slms.com</td>
                <td>Admin</td>
                <td>Active</td>
                <td>
                    <button type="button">View</button>
                    <button type="button">Edit</button>
                    <button type="button">Deactivate</button>
                </td>
            </tr>
            <tr>
                <td>Shamic</td>
                <td>shamic.librarian@slms.com</td>
                <td>Librarian</td>
                <td>Active</td>
                <td>
                    <button type="button">View</button>
                    <button type="button">Edit</button>
                    <button type="button">Deactivate</button>
                </td>
            </tr>

            <tr>
                <td>Biswas</td>
                <td>biswas.librarian@slms.com</td>
                <td>Librarian</td>
                <td>Active</td>
                <td>
                    <button type="button">View</button>
                    <button type="button">Edit</button>
                    <button type="button">Deactivate</button>
                </td>
            </tr>

            <tr>
                <td>Ahana</td>
                <td>ahana@student.com</td>
                <td>Student</td>
                <td>Active</td>
                <td>
                    <button type="button">View</button>
                    <button type="button">Edit</button>
                    <button type="button">Deactivate</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>